[submodule "src/mrt_cmake_modules"]
	path = src/mrt_cmake_modules
	url = https://github.com/johannes-graeter/mrt_cmake_modules.git
[submodule "src/feature_tracking"]
	path = src/feature_tracking
	url = https://github.com/johannes-graeter/feature_tracking.git
[submodule "src/mono_lidar_depth"]
	path = src/mono_lidar_depth
	url = https://github.com/johannes-graeter/mono_lidar_depth.git
[submodule "src/viso2"]
	path = src/viso2
	url = https://github.com/johannes-graeter/viso2.git
[submodule "src/rosinterface_handler"]
	path = src/rosinterface_handler
	url = https://github.com/johannes-graeter/rosinterface_handler.git
