<launch>

  <!--must be set before launchfile starts-->
  <!-- <rosparam param="use_sim_time" subst_value="True"> true </rosparam> -->

  <!--feature matching-->
  <include file="$(find demo_keyframe_bundle_adjustment_meta)/launch/feature_matching.launch">
      <arg name="camera_name" value="left"/>
  </include>
  <!-- plot matches in image -->
  <include file="$(find demo_keyframe_bundle_adjustment_meta)/launch/matches_viewer.launch">
    <arg name="camera_name" value="left"/>
    <arg name="verbosity" value="info"/>
  </include>

  <!--define aliases and static transforms-->
  <include file="$(find demo_keyframe_bundle_adjustment_meta)/launch/tf2_static_aliases_kitti.launch"/>

  <!-- launch keyframe bundle adjustment -->
  <include file="$(find demo_keyframe_bundle_adjustment_meta)/launch/mono_standalone_kitti.launch"/>
  
  <!--trace estimate-->
  <!-- <node pkg="trajectory_tracer_ros_tool" type="trajectory_tracer" name="trajectory_tracer_gt" output="screen">
    <rosparam command="load" file="$(find trajectory_tracer_ros_tool)/launch/params/trajectory_tracer_parameters.yaml"/>
    <param name="subscriber_msg_name" value=""/>
    <param name="publisher_msg_name" value="/estimate/trajectory"/>
    <param name="ref_frame_id" value="estimate/local_cs"/>
    <param name="frame_id" value="estimate/vehicle"/>
    <param name="max_tracing_size" value="100000"/>
  </node> -->
  <!-- play rosbag -->
  <!-- /mrtstorage/datasets/kitti/odometry/odometry_rosbags/gray/00.bag"-->

</launch>