<launch>
<arg name="camera_name" default="left"/>
<arg name="node_name_suffix" default="$(arg camera_name)"/>
<arg name="topic_suffix" default="$(arg camera_name)/"/>
<arg name="matches_topic" default="/matches/grayscale/$(arg topic_suffix)" />
<arg name="image_topic" default="/sensor/camera/grayscale/$(arg camera_name)/image_rect_g"/>
<arg name="verbosity" default="info"/>
<arg name="has_outlier_flag" default="false"/>
<arg name="mode" default="1"/>
<arg name="has_depth" default="false"/>

<!-- matches viewer node -->
<node pkg="matches_msg_viewer_ros_tool" type="matches_msg_viewer" name="matches_msg_viewer_node_$(arg node_name_suffix)" output="screen">
    <param name="config" value="$(find matches_msg_viewer_ros_tool)/launch/params/config_matches_viewer_parameters.yaml" />
    <param name="has_outlier_flag" value="$(arg has_outlier_flag)" />
    <param name="has_depth" value="$(arg has_depth)" />
    <param name="verbosity" value="$(arg verbosity)" />
    <param name="matches_msg_name" value="$(arg matches_topic)"/>
    <param name="image_msg_name" value="$(arg image_topic)"/>
    <param name="publisher_msg_name" value="/debug/matches_$(arg topic_suffix)"/>
    <param name="mode" value="$(arg mode)"/>
    <param name="label_to_hue_yaml" value="$(find matches_msg_viewer_ros_tool)/res/label_to_hue.yaml"/>
</node>
</launch>