<!-- Here the node is launched to read the semantic image and add the label to the tracklets -->
<launch>
  <node pkg="image_preproc_ros_tool" type="label_dilation" name="label_dilation" output="screen">
    <rosparam command="load" file="$(find image_preproc_ros_tool)/launch/params/label_dilation_parameters.yaml"/>
    <param name="subscriber_topic" value="/sensor/camera/color_labels/left/image_rect"/>
    <param name="publisher_topic" value="/semantic_labels/eroded_image"/>
    <param name="verbosity" value="info"/>
    <param name="half_kernel_size" value="8"/>
  </node>

  <arg name="config" default="$(find matches_conversion_ros_tool)/launch/params/semantic_labels_parameters.yaml" />

  <node pkg="matches_conversion_ros_tool" type="semantic_labels" name="semantic_labels" output="screen">
    <rosparam command="load" file="$(arg config)"/>
    <param name="subscriber_labels_topic" value="/semantic_labels/eroded_image"/>
    <param name="subscriber_matches_topic" value="/tracklets_depth/tracklets/left/with_outlier_dummy"/>
    <param name="matches_publisher_topic" value="/tracklets_depth/tracklets/left/with_outlier_label"/>
    <param name="verbosity" value="info"/>
    <param name="roi_height" value="3"/>
    <param name="roi_width" value="3"/>
  </node>

</launch>